flask
flask-restx
flask-cors
python-dotenv
flask-jwt-extended
requests
werkzeug

langchain
langchain-core
langchain-ollama
langchain-pinecone
langchainhub
langchain-groq
langchain-text-splitters
langgraph
groq

sentence-transformers
pillow
PyPDF2
pdf2image

pytz